
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllScoreRank</title>
</head>
<body style="background-color:antiquewhite">
    <div> 
        <h5>今日排名</h5>
    </div>
</body>
</html>
