
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ScoreJBRank</title>
</head>
<body style="background-color:#00ffff">
    <div> 
        <h5>积分进步排名</h5>
    </div>
</body>
</html>
