
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="background: #f6fbfc;">
    <div style="margin-left:150px;margin-top:160px"> 
        <h4 style="font-style:italic">努力开发中，敬请期待...</h4>
    </div>
    @Html.Partial("Footer")
</body>
</html>
